<form asp-controller="Autenticacion" asp-action="InicioSesion" method="post">
    <div class="form-group">
        <label for="Nombre">Nombre:</label>
        <input type="text" id="Nombre" name="Nombre" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>
